<div class="card my-5" id="page">


    <h3>Unos nove posiljke</h3>
<form [formGroup] = "letterForm">
    <table style="margin-bottom: 30px;">
        <tr>
            <td>Tip: 
                <mat-form-field>
                <mat-label>Izaberite</mat-label>
                <mat-select formControlName="recommended">
                    <mat-option value="0">Obično</mat-option>
                    <mat-option value="1">Preporučeno</mat-option>
                </mat-select>
            </mat-form-field>
            </td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-warning" (click)="selectrecipient()"> Prima </button></td>
            <td *ngIf="recipient != undefined"> {{ recipient.ime }} {{recipient.prezime }} </td>
            <td><button type="button" class="btn btn-warning" (click)="selectsender()">Šalje </button></td>
            <td *ngIf="sender != undefined">{{ this.sender.ime }} {{ this.sender.prezime }}</td>
        </tr>
    </table>
    <div>
    <button mat-button (click)="onSubmit(letterForm.value)" style="background-color: green;">Unesi</button>
</div>
</form>
<div class="form-check">

    
   
    
</div>

</div>

