<div class="card">
    <div class="card-header">
      Pismo
    </div>
    <div class="card-body">
      <h5 class="card-title">Pisma</h5>
      <p class="card-text">Sekcija za unos novog pisma. </p>
      <a class="btn btn-primary" href="/letter">Unos novog pisma. </a>
      <a class="btn btn-primary" href="/allLetters">Pregled svih</a>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Paketi
    </div>
    <div class="card-body">
      <h5 class="card-title">Paketi</h5>
      <p class="card-text">Sekcija za evidenciju o prijemu novog paketa. </p>
      <a href="/package" class="btn btn-primary">Prijem paketa </a>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Finansijske transakcije
    </div>
    <div class="card-body">
      <h5 class="card-title">Fiansije</h5>
      <p class="card-text">Sekcija za platni promet </p>
      <a href="/finance" class="btn btn-primary">Uplata/isplata</a>
    </div>
  </div>