<table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">ime</th>
            <th class="th-sm">prezime</th>
            <th class="th-sm">email</th>
            <th class="th-sm">grad</th>
            <th class="th-sm">ulica</th>
            <th class="th-sm">kucni broj</th>
            <th class="th-sm">broj lk.</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let us of users">
            <td>{{ us.ime }} </td>
            <td>{{ us.prezime }} </td>
            <td>{{ us.email }} </td>
            <td>{{ us.adresa.grad.naziv }} ({{ us.adresa.grad.postanskiBroj }}) </td>
            <td>{{ us.adresa.nazivUlice }} </td>
            <td>{{ us.kucniBroj }} </td>
            <td>{{ us.brojLk }} </td>
            <td><button (click)="btn(us.idKorisnik)">Odaberi</button></td>
        </tr>
    </tbody>

    <img class="clickable" (click)="closeWindow()" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvhdeEnM7JDS92pRqQZhN3ORF-rpSETYSbxu68AK3-aLjVUS4b" 
        width="50" height="50"/>

</table>
